@import "tailwindcss";

@theme {
  --color-background: #1d3557;
  --color-textColor: #f1faee;
  --color-areaColor: #1b263b;
  --color-barColor: #a8dadc;
  --color-mYellow: #ffd166;
  --color-mGreen: #06d6a0;
}